<h2 class="mb-4">My Places</h2>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place.name %></h5>
          <% if place.address.present? %>
            <p class="card-text"><%= place.address %></p>
          <% end %>
          <%= link_to "View", place_path(place), class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add New Place", new_place_path, class: "btn btn-success mt-3" %>
